.experiences {
  grid-area: E;
  margin: 0 0 0.5rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr 1fr;
  grid-template-areas:
    "1"
    "2"
    "3";
}

.experiences h3 {
  grid-area: 1;
}
.experiences h4 {
  font-size: 1.1rem;
}
.experiences h5 {
  padding: 0.5rem 0 0.5rem 1rem;
}
.experiences p {
  text-align: justify;
  padding: 0 1rem;
}
.exp-1 {
  grid-area: 2;
}
.exp-2 {
  grid-area: 3;
}
mark {
  background: var(--color5);
  padding: 1px;
}
@media screen and(max-width:500px) {
  .experience {
    grid-area: 2;
    margin-left: 0;
  }
}
