.home {
  width: 100%;
  position: relative;
}
.homeContent {
  background: linear-gradient(105deg, var(--color3) 40%, transparent 100%);
  min-height: 75vh;
  width: 100%;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.homeContent::after {
  content: "";
  position: absolute;
  height: 100%;
  width: inherit;
  background: url(../NavBar/assets/wanoKuni.jpg) no-repeat center/cover;
  z-index: -1;
  filter: brightness(90%);
}
.content {
  position: absolute;
  top: 20%;
  left: 13%;
}

.home h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-shadow: 3px 6px 2px black;
}
.home h2 {
  font-size: 1.5rem;
  text-shadow: 1px 2px 1px black;
}
.pdf {
  margin-top: 50px;
}
.pdf a {
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  padding: 0.5rem;
  border-radius: 25px;
  transition: 0.2s ease;
}
a:hover {
  color: var(--color5);
}
@media screen and (max-width: 850px) {
  .homeContent {
    margin: 0;
  }
}
@media screen and (max-width: 580px) {
  .homeContent::after {
    background: url(../NavBar/assets/wanoKuni.jpg) no-repeat 60% 50% / cover;
  }
  .home h1 {
    font-size: 3rem;
  }
  .home h2 {
    font-size: 1.8rem;
  }
}
